textarea
{
	resize: none;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}
	
.caratula
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

